
[defaults]
nocows = True

inventory          = ./inventory
roles_path         = ~/.ansible/roles:./roles:../common/roles
collections_path   = ~/.ansible/collections
host_key_checking  = False

interpreter_python = auto_silent

# Plugin settings
vars_plugins_enabled = host_group_vars,community.sops.sops