---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
  labels:
    app: minio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minio
  template:
    metadata:
      labels:
        app: minio
    spec:
      containers:
        - name: minio
          image: quay.io/minio/minio:RELEASE.2024-04-18T19-09-19Z
          args:
            - "server"
            - "/data"
            - "--console-address"
            - ":9001"
          env:
            - name: "TZ"
              value: "America/New_York"
            - name: "MINIO_ROOT_USER"
              value: "{{ minio_admin_user }}"
            - name: "MINIO_ROOT_PASSWORD"
              value: "{{ minio_admin_password }}"
            - name: "MINIO_API_CORS_ALLOW_ORIGIN"
              value: "http://minio.home,http://s3.home"
            - name: "MINIO_BROWSER_REDIRECT_URL"
              value: "http://minio.home"
            - name: "MINIO_SERVER_URL"
              value: "https://s3.home"
            - name: "MINIO_UPDATE"
              value: "off"
          ports:
            - name: console
              containerPort: 9001
            - name: s3
              containerPort: 9000
          livenessProbe:
            httpGet:
              path: /minio/health/live
              port: 9000
            initialDelaySeconds: 30
            periodSeconds: 30
            failureThreshold: 6
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /minio/health/live
              port: 9000
            initialDelaySeconds: 30
            periodSeconds: 30
            failureThreshold: 6
            timeoutSeconds: 10
          volumeMounts:
            - name: config
              mountPath: /data
            - name: minio-extra-ca
              mountPath: /root/.minio/certs/CAs
          resources:
            requests:
              cpu: 1
              memory: "2Gi"
            limits:
              memory: "4Gi"
      volumes:
        - name: config
          hostPath:
            path: {{ storage_base_dir }}/minio
            type: Directory
        - name: minio-extra-ca
          configMap:
            name: minio-extra-ca-cm
