---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: minio-console
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    cert-manager.io/cluster-issuer: ca-cluster-issuer
    cert-manager.io/common-name: minio.home

spec:
  ingressClassName: nginx
  rules:
    - host: "minio.home"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: minio
                port:
                  number: 9001
  tls:
    - hosts:
      - minio.home
      secretName: minio-console-ing-cert
---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: minio-s3
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    cert-manager.io/cluster-issuer: ca-cluster-issuer
    cert-manager.io/common-name: s3.home

spec:
  ingressClassName: nginx
  rules:
    - host: "s3.home"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: minio
                port:
                  number: 9000
  tls:
    - hosts:
      - s3.home
      secretName: minio-s3-ing-cert
