---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
  labels:
    app: minio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minio
  template:
    metadata:
      labels:
        app: minio
    spec:
      containers:
        - name: minio
          image: quay.io/minio/minio:RELEASE.2023-08-04T17-40-21Z
          args:
            - "server"
            - "/data"
            - "--console-address"
            - ":9001"
          env:
            - name: "TZ"
              value: "America/New_York"
            - name: "MINIO_API_CORS_ALLOW_ORIGIN"
              value: "http://minio.home,http://s3.home"
            - name: "MINIO_BROWSER_REDIRECT_URL"
              value: "http://minio.home"
            - name: "MINIO_PROMETHEUS_JOB_ID"
              value: "minio"
            - name: "MINIO_PROMETHEUS_URL"
              value: "https://prometheus.home"
            - name: "MINIO_PROMETHEUS_AUTH_TYPE"
              value: "public"
            - name: "MINIO_SERVER_URL"
              value: "http://s3.home"
            - name: "MINIO_UPDATE"
              value: "off"
          ports:
            - name: console
              containerPort: 9001
              hostPort: 9001
            - name: s3
              containerPort: 9000
              hostPort: 9000
          livenessProbe:
            httpGet:
              path: /minio/health/live
              port: 9000
            initialDelaySeconds: 30
            periodSeconds: 30
            failureThreshold: 6
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /minio/health/live
              port: 9000
            initialDelaySeconds: 30
            periodSeconds: 30
            failureThreshold: 6
            timeoutSeconds: 10
          volumeMounts:
            - name: config
              mountPath: /data
          resources:
            requests:
              cpu: 1
              memory: "2Gi"
            limits:
              memory: "4Gi"
      volumes:
        - name: config
          hostPath:
            path: {{ storage_base_dir }}/minio
            type: Directory
