---
apiVersion: v1
kind: Service
metadata:
  name: gitea-web
spec:
  selector:
    app: gitea
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: gitea-ssh
spec:
  type: LoadBalancer
  selector:
    app: gitea
  ports:
    - protocol: TCP
      port: 2222
      targetPort: 2222
