(common) {
    errors
    log
    reload
    loadbalance
    cache 300
    loop
    local
    # dnsmasq is only enabled for setting hostnames in the Opnsense UI.
    # In the dnsmasq settings:
    # 1) Set 'Listen Port' to 6363
    # 2) Network Interfaces is set to one local interface
    # 3) Make sure 'Register DHCP static mappings' is enabled
    # 4) Adding an 'Host Overrides' also appends to this host file
    hosts /var/etc/dnsmasq-hosts {
        ttl 60
        reload 5s
        fallthrough
    }
    prometheus 192.168.0.1:9153
    forward . tls://1.1.1.1 tls://1.0.0.1 tls://2606:4700:4700::1111 tls://2606:4700:4700::1001 {
        tls_servername cloudflare-dns.com
    }
}

. {
    import common
    bind 192.168.0.1 192.168.10.1 192.168.20.1 127.0.0.1 ::1

    k8s_gateway apps {
        ttl 10
        kubeconfig /usr/local/etc/coredns/kubeconfig
        fallthrough
    }
}
